<div id="acercade">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/FotoCarnet.jpg" class="img-fluid" id="fotocarnet" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p id="nombre">Gregorio Blando Ropellatto</p>
            <p id="titulo">Full Stack Developer Jr</p>
        </div>
    </div>
    <div class="row"  id="acercademi">
        <div class="col-1"></div>
        <div class="col-6">
            <span>
                <h1>Acerca de Mí</h1>
                <p>Soy estudiante de la licenciatura de cine y
                    artes audiovisuales con título intermedio de
                    técnico productor de medios audiovisuales,
                    estoy en pleno desarrollo profesional.</p>
                <p>Soy un ilustrador en busca del florecimiento
                    de mis capacidades con el objetivo de obtener
                    experiencia, aprender y poner en práctic mis
                    habilidades de diseñador.</p>
            </span>
        </div>
        <div class="col-1"></div>
        <div class="col-4" id="lista">
            <span>
                <h1 id="datos">Datos</h1>
                    <li>Cumpleaños - 08/03/2002</li>
                    <li>Ocupación - Estudiante</li>
                    <li>Ubicación - Córdoba. Argentina</li>
                    <li>Nacionalidad - Argentino</li>
            </span>
        </div>

    </div>
</div>