<div id="habilidades">
    <div class="row">
        <h1>Habilidades Duras</h1>
        <div class="col text-center">
            <circle-progress [showImage]="true" [imageSrc]="'../assets/html5.png'" [imageHeight]="90" [imageWidth]="90"
                [showBackground]="true" [backgroundColor]="'#ffffff'" [percent]="60" [radius]="100" [outerStrokeWidth]="12" [innerStrokeWidth]="4"
                [outerStrokeColor]="'#415a77'" [innerStrokeColor]="'#6c757d'" [animation]="true"
                [animationDuration]="800"></circle-progress>
            <h3>HTML</h3>
        </div>
        <div class="col text-center">
            <circle-progress [showImage]="true" [imageSrc]="'../assets/css.png'" [imageHeight]="90" [imageWidth]="90"
                [showBackground]="true" [backgroundColor]="'#ffffff'" [percent]="50" [radius]="100" [outerStrokeWidth]="12" [innerStrokeWidth]="4"
                [outerStrokeColor]="'#415a77'" [innerStrokeColor]="'#6c757d'" [animation]="true"
                [animationDuration]="800"></circle-progress>
            <h3>CSS</h3>
        </div>
        <div class="col text-center">
            <circle-progress [showImage]="true" [imageSrc]="'../assets/javascript.png'" [imageHeight]="90" [imageWidth]="90"
                [showBackground]="true" [backgroundColor]="'#ffffff'" [percent]="50" [radius]="100" [outerStrokeWidth]="12" [innerStrokeWidth]="4"
                [outerStrokeColor]="'#415a77'" [innerStrokeColor]="'#6c757d'" [animation]="true"
                [animationDuration]="800"></circle-progress>
            <h3>JavaScript</h3>
        </div>
        <div class="col text-center">
            <circle-progress [showImage]="true" [imageSrc]="'../assets/photoshop.png'" [imageHeight]="90" [imageWidth]="90"
                [showBackground]="true" [backgroundColor]="'#ffffff'" [percent]="80" [radius]="100" [outerStrokeWidth]="12" [innerStrokeWidth]="4"
                [outerStrokeColor]="'#415a77'" [innerStrokeColor]="'#6c757d'" [animation]="true"
                [animationDuration]="800"></circle-progress>
            <h3>Photoshop</h3>
        </div>
        <div class="col text-center">
            <circle-progress [showImage]="true" [imageSrc]="'../assets/illustrator.png'" [imageHeight]="90" [imageWidth]="90"
                [showBackground]="true" [backgroundColor]="'#ffffff'" [percent]="30" [radius]="100" [outerStrokeWidth]="12" [innerStrokeWidth]="4"
                [outerStrokeColor]="'#415a77'" [innerStrokeColor]="'#6c757d'" [animation]="true"
                [animationDuration]="800"></circle-progress>
            <h3>Illustrator</h3>
        </div>
    </div>
    <div class="row">
        <h1>Habilidades Blandas</h1>
        <div class="col text-center">
            <circle-progress [showImage]="true" [imageSrc]="'../assets/equipo.png'" [imageHeight]="90" [imageWidth]="90"
                [showBackground]="true" [backgroundColor]="'#ffffff'" [percent]="90" [radius]="100" [outerStrokeWidth]="12" [innerStrokeWidth]="4"
                [outerStrokeColor]="'#415a77'" [innerStrokeColor]="'#6c757d'" [animation]="true"
                [animationDuration]="800"></circle-progress>
            <h3>Trabajo en Equipo</h3>
        </div>
        <div class="col text-center">
            <circle-progress [showImage]="true" [imageSrc]="'../assets/ingles.png'" [imageHeight]="90" [imageWidth]="90"
                [showBackground]="true" [backgroundColor]="'#ffffff'" [percent]="50" [radius]="100" [outerStrokeWidth]="12" [innerStrokeWidth]="4"
                [outerStrokeColor]="'#415a77'" [innerStrokeColor]="'#6c757d'" [animation]="true"
                [animationDuration]="800"></circle-progress>
            <h3>Lengua Extranjera</h3>
        </div>
        <div class="col text-center">
            <circle-progress [showImage]="true" [imageSrc]="'../assets/flexibilidad.png'" [imageHeight]="90" [imageWidth]="90"
                [showBackground]="true" [backgroundColor]="'#ffffff'" [percent]="70" [radius]="100" [outerStrokeWidth]="12" [innerStrokeWidth]="4"
                [outerStrokeColor]="'#415a77'" [innerStrokeColor]="'#6c757d'" [animation]="true"
                [animationDuration]="800"></circle-progress>
            <h3>Flexibilidad</h3>
        </div>
        <div class="col text-center">
            <circle-progress [showImage]="true" [imageSrc]="'../assets/comunicacion.png'" [imageHeight]="90" [imageWidth]="90"
                [showBackground]="true" [backgroundColor]="'#ffffff'" [percent]="90" [radius]="100" [outerStrokeWidth]="12" [innerStrokeWidth]="4"
                [outerStrokeColor]="'#415a77'" [innerStrokeColor]="'#6c757d'" [animation]="true"
                [animationDuration]="800"></circle-progress>
            <h3>Comunicación</h3>
        </div>
        <div class="col text-center">
            <circle-progress [showImage]="true" [imageSrc]="'../assets/tiempo.png'" [imageHeight]="90" [imageWidth]="90"
                [showBackground]="true" [backgroundColor]="'#ffffff'" [percent]="60" [radius]="100" [outerStrokeWidth]="12" [innerStrokeWidth]="4"
                [outerStrokeColor]="'#415a77'" [innerStrokeColor]="'#6c757d'" [animation]="true"
                [animationDuration]="800"></circle-progress>
            <h3>Gestión del Timepo</h3>
        </div>
    </div>
</div>