<div class="container">
    <div class="row">
        <h1>Titulos y Certificados</h1>
        <div>
            <ul>
                <li>
                    <h5>Titulo Secundario</h5>
                    <p>Bachiller en Economía y Administración</p>
                </li>
                <li>
                    <h5>Fundación Educativa Junior Achievement Córdoba - Certificado de Reconocimiento </h5>
                    <p>“Socios x Un Día” Edición 2019</p>
                </li>
                <li>
                    <h5>Inteligencia Educativa - Funiversity</h5>
                    <p>Arte Digital : Ilustración, Concepto y Comics</p>
                </li>
                <li>
                    <h5>Universidad Tecnológica Nacional Facultad Regional de Buenos
                        Aires - Extensión Universitaria</h5>
                    <p>Narrativa Visual : Storytelling para Videojuegos, Comics y
                        Producciones Audiovisuales</p>
                </li>
                <li>
                    <h5>Plan Programa Argentina - #SeProgramar</h5>
                    <p>Certificado de aprobación del Plan Programa Argentina
                        1er Etapa</p>
                </li>
            </ul>
        </div>
    </div>
</div>