<div class="container">
    <div class="row">
        <h1>Educación</h1>
        <div>
            <ul>
                <li>
                    <h3>Cursos y Anexos</h3>
                    <h5>2022</h5>
                    <p>Universidad Tecnológica Nacional Facultad Regional de Buenos
                        Aires - Extensión Universitaria : Narrativa Visual para Juegos, Comic y Producciones
                        Audiovisuales - Finalizado </p>
                    <h5>2022 - Actualidad</h5>
                    <p>Plan Argentina Programa - Cursando</p>
                </li>
                <li>
                    <h3>Nivel Universitario</h3>
                    <h5>2023</h5>
                    <p>Universidad Provincial de Córdoba - Facultad de Arte y Diseño : Tecnicatura Universitaria en Diseño Gráfico </p>
                    <h5>2021 - Actualidad</h5>
                    <p>Universidad Nacional de Córdoba - Facultad de Artes : Cine y Artes Audiovisuales - Cursando (2do Año) </p>
                </li>
                <li>
                    <h3>Nivel Secundario</h3>
                    <h5>2013 - 2019</h5>
                    <p>Escuela Superior de Comercio Manuel Belgrano (ESCMB) -
                        Orientación : Economía y Administración - Finalizado</p>
                </li>
                <li>
                    <h3>Nivel Primario</h3>
                    <h5>2008 - 2012</h5>
                    <p>Escuela Republica del Líbano - Finalizado</p>
                </li>
            </ul>
        </div>
    </div>
</div>